POSTGRES_DB=movies_auth_database
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

CACHE_LIFE_TIME=300
PROJECT_NAME=movies_auth

SECRET_KEY=<generate>
SECRET_KEY_REFRESH=<generate>

DEFAULT_ADMIN_PASSWORD=t0p_s3cr3t

# для pytest
SERVICE_URL=http://localhost:80

# OAuth сторонние сервисы:
YANDEX_CLIENT_ID=<yandex-client-placeholder-string>
YANDEX_CLIENT_SECRET=<yandex-client-placeholder-string>

GOOGLE_CLIENT_ID=<google-client-placeholder-string>
GOOGLE_CLIENT_SECRET=<google-client-placeholder-string>

GOOGLE_REDIRECT_URL=http://localhost:80/api/v1/oauth/redirect/google

AUTH_PORT=80 # для отладки, для production = 80

JAEGER_ON=False
JAEGER_HOST_NAME=jaeger
JAEGER_PORT=6831

RATE_LIMIT_ON=False
REQUESTS_LIMIT_PER_MINUTE=20

AUTH_SENTRY_DSN=